html
  head
    title O'Briens Healthcare
    block scripts
      script(src='/jquery.js')
  body
    block content
    block foot
        p Phone: 0667112345 
        p Email: obrienshealthcare@gmail.com
        p Address: 123 Some Street
        p Tralee
        p Co: Kerry