html
  head
    title Modyerwell Medical Center
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Modyerwell Medical Center')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block css
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
      link(rel='stylesheet', href='/css/main.css')
  body
    div.content
      block header
        nav.navbar.navbar-expand-md.navbar-light
          div.container-fluid
            a(href="/").navbar-brand
              img(src="/images/small/logo.png")
            button(type="button" data-toggle="collapse" data-target="#navbarResponsive").navbar-toggler
              span.navbar-toggler-icon
            div#navbarResponsive.collapse.navbar-collapse
              ul.navbar-nav.ml-auto
                li.nav-item
                  a(href="/").nav-link.router-link Home
                li.nav-item
                  a(href="/services").nav-link.router-link Services
                li.nav-item
                  a(href="/gallery").nav-link.router-link Gallery
                li.nav-item
                  a(href="/about").nav-link.router-link About
      div.row
        div.col-md-6
          p TExt
        div.col-md-6
          p Text
      block content
      block footer
        div.container-fluid.footer
          div.row.text-center
            div.col-md-6
              h5 Contact Us
              hr.white
              div.row
                div.col-md-8.offset-md-2
                  p.text-left Phone: <span class="float-right font-weight-bold">0667112345 </span>
                  p.text-left Email: <span class="float-right font-weight-bold">Click Here</span>
                  p.text-left Address: <span class="float-right font-weight-bold">123 Some Street </span>
                  p.text-left Town: <span class="float-right font-weight-bold">Tralee </span>
                  p.text-left Co: <span class="float-right font-weight-bold">Kerry </span>
            div.col-md-6
              h5 Opening Hours
              hr.white
              div.row
                div.col-md-8.offset-md-2
                  p.text-left Monday-Friday: <span class="float-right font-weight-bold">09:00 - 18:00</span>
                  p.text-left Saturday: <span class="float-right font-weight-bold">09:00 - 14:00</span>
                  p.text-left Sunday: <span class="float-right font-weight-bold">Closed</span>
                  p.text-left Emergencies Contact: <span class="float-right font-weight-bold">SouthDoc</span>
            div.col-12 
              hr.white
              p.text-center Site Created by Vincent Mc Galey, Email: vincemcgaley@gmail.com
    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")