extends ../layout.pug

block content
    hr.white
    .row.padding
        #blueprint-container.col-md-6
            .card-body
                img#blueprint.img-thumbnail(src="../images/medium/blueprint.jpg")
        .col-md-6
            .card-body
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perspiciatis aut doloremque sapiente voluptas distinctio eligendi 
                    quis ab officia eaque soluta, sunt adipisci officiis numquam architecto quibusdam impedit? Saepe, iure?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perspiciatis aut doloremque sapiente voluptas distinctio eligendi 
                    quis ab officia eaque soluta, sunt adipisci officiis numquam architecto quibusdam impedit? Saepe, iure?
                    br
                    br
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perspiciatis aut doloremque sapiente voluptas distinctio eligendi 
                    quis ab officia eaque soluta, sunt adipisci officiis numquam architecto quibusdam impedit? Saepe, iure?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perspiciatis aut doloremque sapiente voluptas distinctio eligendi 
                    quis ab officia eaque soluta, sunt adipisci officiis numquam architecto quibusdam impedit? Saepe, iure?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perspiciatis aut doloremque sapiente voluptas distinctio eligendi 
                    quis ab officia eaque soluta, sunt adipisci officiis numquam architecto quibusdam impedit? Saepe, iure?
                    br
                    br
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perspiciatis aut doloremque sapiente voluptas distinctio eligendi 
                    quis ab officia eaque soluta, sunt adipisci officiis numquam architecto quibusdam impedit? Saepe, iure?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perspiciatis aut doloremque sapiente voluptas distinctio eligendi 
                    quis ab officia eaque soluta, sunt adipisci officiis numquam architecto quibusdam impedit? Saepe, iure?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perspiciatis aut doloremque sapiente voluptas distinctio eligendi 
                    quis ab officia eaque soluta, sunt adipisci officiis numquam architecto quibusdam impedit? Saepe, iure?
                    quis ab officia eaque soluta, sunt adipisci officiis numquam architecto quibusdam impedit? Saepe, iure?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perspiciatis aut doloremque sapiente voluptas distinctio eligendi 
                    quis ab officia eaque soluta, sunt adipisci officiis numquam architecto quibusdam impedit? Saepe, iure?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perspiciatis aut doloremque sapiente volupta